# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so

# Virtual Environments
.venv/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# Credentials - IMPORTANT
.onboarding_credentials.json